#a1 ,#a2{
    text-align: center;
}

#a3{
    text-align: center;
}
#a4{
    text-align: justify;
    align-self:left;
    align-items: left;
    text-align: center;   
}
body{
    background-color: black;
    color: aliceblue;

}
form{
background-color: bisque;
color: rgb(20, 1, 25);
box-sizing:center;
display: block;
}
#A1{
    box-sizing: border-box;
    border-color: aliceblue;
    
}